html{
    font-family: system-ui;
    background-color: #191d5a;
}

body{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in {
    opacity: 1;
}

@keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fade-in 0.5s ease-in-out;
  }

.webpage1{
    background-color: white;
}

.Logo-container{
    width: 15%;
    margin: auto;
}

.Logo{
    width: 250px;
}

.top-header>h1{
    margin: 3% 0;
    text-align: center;
    padding: 0 250px;
    font-size: 40px;
}

.top-header>p{
    border: solid 2px #ccc;
    width: 370px;
    text-align: center;
    margin: 0 auto;
    padding: 5px 30px;
    border-radius: 20px;
    font-size: 18px;
}

.Hero-container{
    text-align: center;
    margin: 90px 0 90px 450px;
    display: flex;
    justify-content: space-between;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Call {
    background-color: #ffffff;
    border-radius: 7.5rem 0 0 7.5rem;
    box-shadow: -0.1rem -0.1rem 0.9rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 0.5rem 1.5rem;
    width: 90%;
    margin: 15px -5px 15px 0px;
}

.Whatsapp {
    background-color: #ffffff;
    border-radius: 7.5rem 0 0 7.5rem;
    box-shadow: -0.1rem -0.1rem 0.9rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 0.5rem 1.5rem;
    width: 90%;
    margin: 15px -5px 15px 0px;
}

.Hero-content>p{
    font-size: 18px;
    text-align: center;
    padding: 10px 100px;
}

.btn{
    width: 100px;
    margin: 50px auto;
}

.ReachUs{
    border-radius: 20px;
    background-color: skyblue;
    color: white;
    outline: none;
    border: none;
    padding: 8px;
    box-shadow: 5px 3px 5px skyblue;
}

.testimonials{
    background-color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}

.Experience-Testimonial{
    width: 200px;
    text-align: center;
    margin: 50px 0;
}

.Clients-Testimonial{
    width: 150px;
    text-align: center;
    margin: 50px 0;
}

.Projects-Testimonial{
    width:100px;
    text-align: center;
    margin: 50px 0;
}

.nos{
    font-weight: 800;
    font-size: 50px;
    margin: 0;
}

.Laravel-container{
    background-color: whitesmoke;
    width: 95%;
    margin:30px auto;
}

.business-dev{
    font-size: 42px;
    font-weight: 500;
    padding: 20px 100px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);
}

.conts{
    background-color: aliceblue;
    padding: 40px;
    margin: 20px;
    border-radius: 30px;
}

span{
    font-weight: 800;
    font-size: 40px;
}

.grid-Img{
    bottom: 0;
    right: 0;
}

.why{
    width: 70%;
    height: 500px;
    position: relative;
    background-image: url('./Images/Vector.png');
    background-size: cover;
    background-position: center center;
    margin: auto;
}

.why>h1{
    text-align: center;
    margin: 50px 0;
}

.choose1>ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    margin: 100px 20px 0 20px;
}

.choose1>ul>li{
    border: solid 2px skyblue;
    padding: 10px 20px;
    border-radius: 30px;
}

.choose2>ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

.choose2>ul>li{
    border: solid 2px skyblue;
    padding: 10px 30px;
    border-radius: 20px;
}

.choose1 ul li:nth-child(odd) {
    background: white;
    color: black;
}

.choose1 ul li:nth-child(even) {
    background: skyblue;
    color: white;
}

.choose2 ul li:nth-child(odd) {
    background: white;
    color: black;
}

.choose2 ul li:nth-child(even) {
    background: skyblue;
    color: white;
}

.webpage2{
    background-color: white;
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 35px;
}

.Header{
    margin: 6% 0 0 0;
    text-align: center;
    padding: 0 200px;
    font-size: 22px;
}

.Header>p{
    padding: 0 100px;
    margin: 0 0 6% 0;
    font-size: 18px;
}

.Expertise{
    background-color: aliceblue;
    padding: 40px;
    width: 85%;
    margin: 40px auto;
    border-radius: 30px;
    display: flex;
}

.Expertise>div>h1{
    font-size: 42px;
    margin: 120px 0 0 80px;
}

.Expertise>div>p{
    font-size: 18px;
    margin: 40px 0 0 80px;
    padding: 0 50px 0 0;
}

.Cost{
    background-color: aliceblue;
    padding: 40px;
    width: 85%;
    margin: 40px auto;
    border-radius: 30px;
    display: flex;
}

.Cost>div>h1{
    font-size: 42px;
    margin: 100px 60px 0 20px;
}

.Cost>div>p{
    font-size: 18px;
    margin: 40px 60px 0 20px;
    padding: 0 50px 0 0;
}

.Time{
    background-color: aliceblue;
    padding: 40px;
    width: 85%;
    margin: 40px auto;
    border-radius: 30px;
    display: flex;
}

.Time>div>h1{
    font-size: 42px;
    margin: 120px 0 0 80px;
}

.Time>div>p{
    font-size: 18px;
    margin: 40px 0 0 80px;
    padding: 0 50px 0 0;
}

.Maintenance{
    background-color: aliceblue;
    padding: 40px;
    width: 85%;
    margin: 40px auto;
    border-radius: 30px;
    display: flex;
}

.Maintenance>div>h1{
    font-size: 42px;
    margin: 100px 80px 0 20px;
}

.Maintenance>div>p{
    font-size: 18px;
    margin: 40px 100px 0 20px;
    padding: 0 50px 0 0;
}

.Footer{
    text-align: center;
    padding: 0 150px;
    margin: 4% 0 6% 0;
    font-size: 22px;
}

.Img-Top{
    display: none;
}

@keyframes slideInRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    70% {
        transform: translateX(-30%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.Expertise, 
.Time{
    animation: slideInRight 1.5s ease-in-out;
}


@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    70% {
        transform: translateX(30%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
 
.Cost, 
.Maintenance {
    animation: slideInLeft 1.5s ease-in-out;
}

.goTop {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: skyblue;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: 900;
}

.goTop:hover {
    background-color: #4494ea;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
    
    body{
        text-align: center;
    }

    .Logo-container{
        margin: 0 28%;
    }
    
    .Logo{
        width: 150px;
    }

    .top-header>h1{
        margin: 3% 0;
        padding: 0 20px;
        font-size: 20px;
    }
    
    .top-header>p{
        border: solid 2px #ccc;
        width: auto;
        padding: 5px 20px;
        font-size: 15px;
    }

    .Hero-container{
        text-align: center;
        margin: 20px 0;
    }
    
    .contact{
        display: none;
    }

    .Hero{
        width: 60%;
        margin: auto;
    }

    .Hero-content>p{
        font-size: 12px;
        text-align: center;
        padding: 10px;
    }

    .btn{
        width: 100px;
        margin: 20px auto;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .testimonials{
        background-color: aliceblue;
        font-size: 30px;
        font-weight: 600;
        display: block;
    }
    
    .Experience-Testimonial{
        width: 200px;
        text-align: center;
        margin: 50px auto;
    }

    .Clients-Testimonial{
        width: 150px;
        text-align: center;
        margin: 50px auto;
    }

    .Projects-Testimonial{
        width:150px;
        text-align: center;
        margin: auto;
        height: 250px;
    }

    .why h1{
        font-size: 15px;
        padding: 20px 0 0 0;
    }

    .business-dev{
        font-size: 18px;
        font-weight: 400;
        padding: 20px 5px;
        text-align: left;
    }

    .conts{
        padding: 10px;
        font-size: 12px;
        text-align: left;
    }

    .why{
        width: 100%;
        height: 350px;
        position: relative;
        background-image: url('./Images/Vector.png');
        background-size: cover;
        background-position: center center;
    }

    .choose1 ul, .choose2 ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 10px;
    }

    .choose1 ul li, .choose2 ul li {
        background: skyblue;
        color: white;
        border: solid 2px skyblue;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 7px;
    }

    .choose1 ul li:nth-child(odd),
    .choose2 ul li:nth-child(odd) {
        background: white;
        color: black;
    }

    .grid-Img{
        width: 80%;
    }

    .webpage2{
        width: 95%;
        margin: 10px auto;
        padding: 5px 10px;
        border-radius: 25px;
    }
    
    .Header{
        padding: 10px;
        font-size: 10px;
    }
    
    .Header>p{
        padding: 10px;
        margin: 0;
        font-size: 10px;
    }
    
    .Expertise{
        display: block;
        padding: 20px 0;
    }

    .Expertise>div>h1{
        font-size: 15px;
        padding: 0;
        margin: 10px auto ;
    }
    
    .Expertise>div>p{
        font-size: 10px;
        margin: 0;
        padding: 0 20px;
    }

    .Cost{
        display: block;
        padding: 20px 0;
    }

    .Cost>div>h1{
        font-size: 15px;
        padding: 0;
        margin: 10px auto ;
    }
    
    .Cost>div>p{
        font-size: 10px;
        margin: 0;
        padding: 0 20px;
    }

    .Time{
        display: block;
        padding: 20px 0;
    }

    .Time>div>h1{
        font-size: 15px;
        padding: 0;
        margin: 10px auto ;
    }
    
    .Time>div>p{
        font-size: 10px;
        margin: 0;
        padding: 0 20px;
    }
    
    .Maintenance{
        display: block;
        padding: 20px 0;
    }

    .Maintenance>div>h1{
        font-size: 15px;
        padding: 0;
        margin: 10px auto ;
    }
    
    .Maintenance>div>p{
        font-size: 10px;
        margin: 0;
        padding: 0 20px;
    }

    .Img{
        width: 80%;
    }

    .Img-Top{
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .Img-Bottom{
        display: none;
    }

    .Footer{
        padding: 0 10px;
        margin: 0;
        font-size: 10px;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1250px) {

    .Header{
        padding: 0px 20px;
        font-size: 20px;
    }
    
    .Header>p{
        padding: 10px 40px;
        margin: 0;
        font-size: 15px;
    }

    .Expertise>div>h1{
        margin: 20px 0 0 20px;
    }

    .Expertise>div>p{
        margin: 0;
        padding: 20px 0 0 20px;
    }

    .Cost>div>h1{
        margin: 10px auto ;
    }

    .Cost>div>p{
        margin: 0;
        padding: 0;
    }

    .Time>div>h1{
        margin: 50px 0 0 20px ;
    }

    .Time>div>p{
        margin: 0;
        padding: 20px 0 0 20px;
    }

    .Maintenance>div>h1{
        margin: 30px auto ;
    }

    .Maintenance>div>p{
        margin: 0;
        padding: 0;
    }

    .Footer{
        text-align: center;
        padding: 0 50px;
        margin: 0;
        font-size: 15px;
    }
    
}